In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('data/Data4Good_Arolsen_Archives_50k.csv')

In [38]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,TD,Nationality,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,1446396,Polish,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,155125,NaN,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,NaN,Naesterreichisch,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,407595,NaN,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,615898,Formerly Polish,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,335595,NaN,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,624389.0,NaN,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,510873,NaN,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,534582,Canadian,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,408873,American,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN

In [39]:
# Convert to string to avoid errors
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].astype(str)

# Function to split birthdate into components
def split_birthdate(date):
    if date.startswith('//'):  # Case: Birthdate starts with "//"
        return date[2:], '0', '0'  # Extract year, set Month and Day to 0
    
    parts = date.split('/')
    
    if len(parts) == 3:  # Full date case (DD/MM/YYYY)
        return parts[2], parts[1], parts[0]  # Year, Month, Day
    elif len(parts) == 1 and date.isdigit() and len(date) == 4:  # Year only (YYYY)
        return date, '0', '0'  # Set Month and Day to 0
    else:
        return None, None, None  # Handle missing or invalid values

# Apply function to create new columns
df[['Birth_Year', 'Birth_Month', 'Birth_Day']] = df['Birthdate (Geb)'].apply(lambda x: pd.Series(split_birthdate(x)))

# Convert numeric columns to integers where possible
df['Birth_Year'] = pd.to_numeric(df['Birth_Year'], errors='coerce')
df['Birth_Month'] = pd.to_numeric(df['Birth_Month'], errors='coerce')
df['Birth_Day'] = pd.to_numeric(df['Birth_Day'], errors='coerce')

In [40]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [41]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,TD,Nationality,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,1446396,Polish,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,155125,NaN,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,NaN,Naesterreichisch,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,407595,NaN,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,615898,Formerly Polish,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,335595,NaN,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,624389.0,NaN,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,510873,NaN,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,534582,Canadian,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,408873,American,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

In [42]:
#df_zero_day_month = df[(df['Birth_Day'] == 0.0) & (df['Birth_Month'] == 0.0)]
#print(df_zero_day_month)

In [43]:
missing_percent = df.isnull().sum() / len(df) * 100
print(missing_percent)

Unnamed: 0                    0.000
Last_Name                     1.238
First Name                    1.626
Alternative Name             43.454
Father (Vater - Eltern)      53.538
Mother (Mutter - Eltern)     55.366
Spouse (Ehem/Ehefr)          95.154
Birthdate (Geb)               0.000
Alternative_Birthdate         1.068
Birth Place                   9.744
TD                            1.722
Nationality                  43.406
Alternative Nationality 1    89.350
Alternative Nationality 2    89.704
Religion                     75.018
Upper                         1.068
Middle                        4.804
Geo Location                  1.068
Inferred Nationality         97.732
Overall Confidence OCR        1.076
Automatic Validation          1.074
Volunteers' Comment          99.954
Birth_Year                    5.564
Birth_Month                   1.072
Birth_Day                     1.078
dtype: float64

In [44]:
df['Birthdate (Geb)'].nunique()

17218

In [45]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [46]:
df['Birthdate (Geb)'].value_counts()

Birthdate (Geb)
//            2244
nan            534
//1900         142
//1924         131
//1925         127
              ...
19/11/1906       1
28/3/1898        1
14/11/191        1
22/2/1869        1
23/5/1897        1
Name: count, Length: 17218, dtype: int64

In [47]:
# Replace '//' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('//', np.nan)

# Replace 'nan' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('nan', np.nan)

# Verify the changes
print(df['Birthdate (Geb)'].value_counts())

Birthdate (Geb)
//1900        142
//1924        131
//1925        127
//1923        121
//1922        119
             ...
19/11/1906      1
5/1/1931        1
28/1/1909       1
28/3/1898       1
14/11/191       1
Name: count, Length: 17216, dtype: int64

In [48]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [49]:
df['Birth_Year'].value_counts()

Birth_Year
1924.0    2198
1923.0    2175
1922.0    2139
1925.0    2119
1920.0    1792
          ...
4060.0       1
2079.0       1
1994.0       1
185.0        1
11.0         1
Name: count, Length: 293, dtype: int64

In [50]:
df['Birth_Year'] = np.where(df['Birth_Year'] < 1800, 0, df['Birth_Year'])
df['Birth_Year'] = np.where(df['Birth_Year'] > 1945, 0, df['Birth_Year'])

In [51]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [52]:
df_sorted = df.sort_values(by='Birth_Year')
print(df_sorted[['Birth_Year']])

       Birth_Year
44591         0.0
10878         0.0
15262         0.0
40129         0.0
22192         0.0
...           ...
49948         NaN
49951         NaN
49987         NaN
49991         NaN
49993         NaN

[50000 rows x 1 columns]

In [53]:
df['Birth_Year'].value_counts()

Birth_Year
1924.0    2198
1923.0    2175
1922.0    2139
1925.0    2119
1920.0    1792
          ...
1839.0       1
1804.0       1
1815.0       1
1844.0       1
1803.0       1
Name: count, Length: 109, dtype: int64

In [54]:
df['Birth_Month'] = np.where(df['Birth_Month'] > 12, 0, df['Birth_Month'])
df['Birth_Day'] = np.where(df['Birth_Day'] > 31, 0, df['Birth_Day'])

In [55]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,TD,Nationality,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,1446396,Polish,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,155125,NaN,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,NaN,Naesterreichisch,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,407595,NaN,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,615898,Formerly Polish,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,335595,NaN,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,624389.0,NaN,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,510873,NaN,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,534582,Canadian,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,408873,American,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

RELIGION

In [56]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Orthodox Christian          73
Evangelical Christian       24
Other                        4
                         ...
Boo                          1
Auss                         1
Jewishürdisc                 1
MGB                          1
Nagy                         1
Name: count, Length: 166, dtype: int64

In [57]:
# Group rare religions
min_count = 5  # Threshold for rare categories
religion_counts = df['Religion'].value_counts()
rare_religions = religion_counts[religion_counts < min_count].index
df['Religion'] = df['Religion'].replace(rare_religions, 'Other')

In [58]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Other                      168
Orthodox Christian          73
Evangelical Christian       24
Name: count, dtype: int64

In [59]:
pd.set_option('display.max_columns', None)

In [60]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,TD,Nationality,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,1446396,Polish,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,155125,NaN,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,NaN,Naesterreichisch,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,407595,NaN,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,615898,Formerly Polish,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,335595,NaN,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,624389.0,NaN,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,510873,NaN,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,534582,Canadian,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,408873,American,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

OneHotEncoding for Religion

In [61]:
df = pd.get_dummies(df, columns=['Religion'], prefix='Religion')

In [62]:
# Convert boolean columns to integers
religion_columns = ['Religion_Evangelical Christian', 'Religion_Jewish', 'Religion_Orthodox Christian', 'Religion_Other', 'Religion_Roman Catholic']
df[religion_columns] = df[religion_columns].astype(int)

In [63]:
pd.set_option('display.max_columns', None)

In [64]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,TD,Nationality,Alternative Nationality 1,Alternative Nationality 2,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day,Religion_Evangelical Christian,Religion_Jewish,Religion_Orthodox Christian,Religion_Other,Religion_Roman Catholic
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,1446396,Polish,NaN,NaN,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0,0,0,0,0,1
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,155125,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0,0,0,0,0,0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,NaN,Naesterreichisch,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0,0,0,0,0,0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,407595,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0,0,0,0,0,0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,615898,Formerly Polish,NaN,NaN,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,335595,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0,0,0,0,0,0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,624389.0,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0,0,0,0,0,0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,510873,NaN,NaN,NaN,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0,0,1,0,0,0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,534582,Canadian,Hungarian,NaN,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0,0,1,0,0,0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,408873,American,NaN,Polish,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0,0,0,0,0,0

In [65]:
df.shape

(50000, 29)

In [66]:
df['Birth Place'].value_counts()

Birth Place
Warschau           961
Lodz               930
Berlin             453
Budapest           426
Lodz Polen         377
                  ...
Jaworze Gorne        1
Radaz                1
Skierniwice Pol      1
Abs cha CSR          1
Godzischewy          1
Name: count, Length: 27202, dtype: int64

In [67]:
df['Birth Place'].nunique()

27202

In [68]:
birth_place_counts = df['Birth Place'].value_counts()
birth_place_counts[birth_place_counts > 100]

Birth Place
Warschau          961
Lodz              930
Berlin            453
Budapest          426
Lodz Polen        377
Wien              348
Krakau            293
Breslau           220
Warszawa          199
Polen             181
Hamburg           161
Lemberg           145
Amsterdam         132
Lodz Pol          131
Wilno             125
Wilna             116
Warschau Polen    115
Czernowitz        105
Radom             101
Name: count, dtype: int64

Markov Chains for predicting the next last stop of the Holocaust victim

In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

from dataclasses import dataclass
from typing import List, Optional

# Load the dataset
data = pd.read_csv('data/Data4Good_Arolsen_Archives_50k.csv')

data.dropna(subset=["Geo Location"], inplace=True)

# Drop unnecessary column
data.drop('Unnamed: 0', axis=1, inplace=True)

# Ensure all values are strings and replace double double-quotes
data["Geo Location"] = data["Geo Location"].astype(str).apply(lambda x: x.replace('""', '"'))
# Ensure values are strings and remove surrounding quotes
data["Geo Location"] = data["Geo Location"].astype(str).apply(lambda x: x.strip('"'))
# Ensure values are strings and remove surrounding single and double quotes
data["Geo Location"] = data["Geo Location"].astype(str).apply(lambda x: x.strip("'").strip('"'))


# Define the structure of Paths
@dataclass
class Path:
    fromLabel: str
    toLabel: str
    index: int
    type: str

# Define the structure of Location inside Markers
@dataclass
class Location:
    lon: float
    lat: float

# Define the structure of Markers (location is now optional)
@dataclass
class Marker:
    location: Optional[Location]  # Can be None if missing
    label: str
    type: str

# Define the GeoLocation object that contains Paths and Markers
@dataclass
class GeoLocation:
    id: int  # Unique identifier for each GeoLocation object
    paths: List[Path]
    markers: List[Marker]

# Function to deserialize JSON into GeoLocation object
def deserialize_geo_location(json_text: str, geo_id: int) -> Optional[GeoLocation]:
    """Convert JSON text from the 'Geo Location' column into a GeoLocation object."""
    if not json_text or json_text in ["nan", "None"]:  # Handle missing or NaN values
        return None
    
    try:
        data = json.loads(json_text)

        # Deserialize Paths
        paths = [Path(**p) for p in data.get("paths", [])]  # Handle missing "paths" key safely

        # Deserialize Markers, handling missing 'location'
        markers = []
        for m in data.get("markers", []):  # Handle missing "markers" key safely
            location = Location(**m["location"]) if "location" in m else None  # Handle missing location
            markers.append(Marker(location=location, label=m["label"], type=m["type"]))

        return GeoLocation(id=geo_id, paths=paths, markers=markers)

    except json.JSONDecodeError:
        print(f"Error decoding JSON at ID {geo_id}: {json_text}")
        return None  # Return None if JSON is invalid

# Create a list to store all GeoLocation objects
geo_location_objects = []

# Loop through all rows in "Geo Location" column
for idx, geo_text in enumerate(data["Geo Location"]):
    geo_obj = deserialize_geo_location(geo_text, idx)  # Deserialize JSON into an object with an ID
    
    if geo_obj:  # Ensure it's valid before adding
        geo_location_objects.append(geo_obj)

# Print total valid GeoLocation objects
print(f"Total GeoLocation Objects Created: {len(geo_location_objects)}")


# Function to get a GeoLocation object by ID
def get_geo_location_by_id(geo_id: int) -> Optional[GeoLocation]:
    """Retrieve a GeoLocation object by its ID."""
    if 0 <= geo_id < len(geo_location_objects):
        return geo_location_objects[geo_id]
    else:
        print(f"Invalid ID {geo_id}: Not found.")
        return None

# Example: Get a specific GeoLocation object by ID
geo_id = 10  # Example: Access the 10th GeoLocation object
selected_geo = get_geo_location_by_id(geo_id)

if selected_geo:
    print(f"\nGeoLocation ID {geo_id}:")
    print(selected_geo)

    # Print its paths and markers
    print("\nPaths:")
    for path in selected_geo.paths:
        print(path)

    print("\nMarkers:")
    for marker in selected_geo.markers:
        print(marker)
else:
    print("Invalid or empty Geo Location data.")

selected_geo.markers.pop()
selected_geo.paths.pop()

geo_location_objects[geo_id] = selected_geo





def serialize_geo_location(geo_location: GeoLocation) -> str:
    """Convert a GeoLocation object back to a JSON string."""
    if geo_location is None:
        return "None"
    
    # Convert Paths back to dictionary format
    paths = [{"fromLabel": p.fromLabel, "toLabel": p.toLabel, "index": p.index, "type": p.type} for p in geo_location.paths]
    
    # Convert Markers back to dictionary format, handling missing locations
    markers = []
    for m in geo_location.markers:
        marker_dict = {"label": m.label, "type": m.type}
        if m.location:
            marker_dict["location"] = {"lon": m.location.lon, "lat": m.location.lat}  # Include location only if it exists
        markers.append(marker_dict)

    # Create the final dictionary structure
    geo_dict = {"paths": paths, "markers": markers}

    # Convert dictionary to JSON string
    return json.dumps(geo_dict, ensure_ascii=False)

# Apply serialization function to all GeoLocation objects
data["Geo Location"] = [serialize_geo_location(obj) for obj in geo_location_objects]

print("Serialization completed successfully! Data saved.")

print(data["Geo Location"][geo_id])

Total GeoLocation Objects Created: 49466

GeoLocation ID 10:
GeoLocation(id=10, paths=[Path(fromLabel='Lodz Pol', toLabel='Lodz', index=0, type=''), Path(fromLabel='Lodz', toLabel='Auschwitz', index=1, type=''), Path(fromLabel='Auschwitz', toLabel='Bergen - Belsen', index=2, type=''), Path(fromLabel='Bergen - Belsen', toLabel='Salzwedel', index=3, type=''), Path(fromLabel='Salzwedel', toLabel='Leipheim', index=4, type=''), Path(fromLabel='Leipheim', toLabel='Felda', index=5, type=''), Path(fromLabel='Felda', toLabel='Salzwedel', index=6, type=''), Path(fromLabel='Salzwedel', toLabel='Canada', index=7, type='')], markers=[Marker(location=Location(lon=19.4559833, lat=51.7592485), label='Lodz Pol', type='Birth Place'), Marker(location=Location(lon=19.4559833, lat=51.7592485), label='Lodz', type='Location'), Marker(location=Location(lon=19.2097782, lat=50.0343982), label='Auschwitz', type='Location'), Marker(location=None, label='Bergen - Belsen', type='Location'), Marker(location=Location(lon=11.1514876, lat=52.84965039999999), label='Salzwedel', type='Location'), Marker(location=Location(lon=10.2196324, lat=48.4495038), label='Leipheim', type='Camp Name'), Marker(location=None, label='Felda', type='Location'), Marker(location=Location(lon=11.1514876, lat=52.84965039999999), label='Salzwedel', type='Location'), Marker(location=Location(lon=-106.346771, lat=56.130366), label='Canada', type='Location')])

Paths:
Path(fromLabel='Lodz Pol', toLabel='Lodz', index=0, type='')
Path(fromLabel='Lodz', toLabel='Auschwitz', index=1, type='')
Path(fromLabel='Auschwitz', toLabel='Bergen - Belsen', index=2, type='')
Path(fromLabel='Bergen - Belsen', toLabel='Salzwedel', index=3, type='')
Path(fromLabel='Salzwedel', toLabel='Leipheim', index=4, type='')
Path(fromLabel='Leipheim', toLabel='Felda', index=5, type='')
Path(fromLabel='Felda', toLabel='Salzwedel', index=6, type='')
Path(fromLabel='Salzwedel', toLabel='Canada', index=7, type='')

Markers:
Marker(location=Location(lon=19.4559833, lat=51.7592485), label='Lodz Pol', type='Birth Place')
Marker(location=Location(lon=19.4559833, lat=51.7592485), label='Lodz', type='Location')
Marker(location=Location(lon=19.2097782, lat=50.0343982), label='Auschwitz', type='Location')
Marker(location=None, label='Bergen - Belsen', type='Location')
Marker(location=Location(lon=11.1514876, lat=52.84965039999999), label='Salzwedel', type='Location')
Marker(location=Location(lon=10.2196324, lat=48.4495038), label='Leipheim', type='Camp Name')
Marker(location=None, label='Felda', type='Location')
Marker(location=Location(lon=11.1514876, lat=52.84965039999999), label='Salzwedel', type='Location')
Marker(location=Location(lon=-106.346771, lat=56.130366), label='Canada', type='Location')
Serialization completed successfully! Data saved.
{"paths": [{"fromLabel": "Lodz Pol", "toLabel": "Lodz", "index": 0, "type": ""}, {"fromLabel": "Lodz", "toLabel": "Auschwitz", "index": 1, "type": ""}, {"fromLabel": "Auschwitz", "toLabel": "Bergen - Belsen", "index": 2, "type": ""}, {"fromLabel": "Bergen - Belsen", "toLabel": "Salzwedel", "index": 3, "type": ""}, {"fromLabel": "Salzwedel", "toLabel": "Leipheim", "index": 4, "type": ""}, {"fromLabel": "Leipheim", "toLabel": "Felda", "index": 5, "type": ""}, {"fromLabel": "Felda", "toLabel": "Salzwedel", "index": 6, "type": ""}], "markers": [{"label": "Lodz Pol", "type": "Birth Place", "location": {"lon": 19.4559833, "lat": 51.7592485}}, {"label": "Lodz", "type": "Location", "location": {"lon": 19.4559833, "lat": 51.7592485}}, {"label": "Auschwitz", "type": "Location", "location": {"lon": 19.2097782, "lat": 50.0343982}}, {"label": "Bergen - Belsen", "type": "Location"}, {"label": "Salzwedel", "type": "Location", "location": {"lon": 11.1514876, "lat": 52.84965039999999}}, {"label": "Leipheim", "type": "Camp Name", "location": {"lon": 10.2196324, "lat": 48.4495038}}, {"label": "Felda", "type": "Location"}, {"label": "Salzwedel", "type": "Location", "location": {"lon": 11.1514876, "lat": 52.84965039999999}}]}

In [70]:
# Define the Journey object structure
@dataclass
class Journey:
    id: int  # Unique identifier for each journey (person)
    from_to: List[dict]  # List of "from-to" pairs as dictionaries

# Create a list of Journey objects
journey_objects = []

# Loop through each GeoLocation object to create Journey objects
for geo in geo_location_objects:
    # Extract "from-to" pairs for the current person
    from_to_pairs = [{"from": path.fromLabel, "to": path.toLabel} for path in geo.paths]
    
    # Create a Journey object for the person
    journey = Journey(id=geo.id, from_to=from_to_pairs)
    journey_objects.append(journey)

# Example: Access Journey for the 10th person


for journey in journey_objects[:10]:
    print(journey.from_to)

[{'from': 'Wiekowo', 'to': 'Weser'}, {'from': 'Weser', 'to': 'Berlin'}, {'from': 'Berlin', 'to': 'Berlin'}, {'from': 'Berlin', 'to': 'Gniezno'}]
[{'from': 'Laszczow Polen', 'to': 'Laszczow'}, {'from': 'Laszczow', 'to': 'Laszozow'}, {'from': 'Laszozow', 'to': 'Cypern'}]
[{'from': 'Wien', 'to': 'Monowitz / Auschwitz'}]
[{'from': 'Biala Österr', 'to': 'Amsterdam'}, {'from': 'Amsterdam', 'to': 'Angouleme'}, {'from': 'Angouleme', 'to': '( Gefängn'}, {'from': '( Gefängn', 'to': 'Normades'}, {'from': 'Normades', 'to': 'Blechhammer'}]
[{'from': 'Warschau', 'to': 'Warschau , Dzielna'}, {'from': 'Warschau , Dzielna', 'to': 'Warschau'}, {'from': 'Warschau', 'to': 'Warschau'}]
[{'from': 'Einsiedl Böhmen', 'to': 'Prag'}, {'from': 'Prag', 'to': 'Sachsenhausen'}]
[{'from': 'Rofrano Salerno', 'to': 'Tbe'}]
[{'from': 'S Cataldo', 'to': 'Essen'}]
[{'from': 'Pabianice', 'to': 'Pabianice'}, {'from': 'Pabianice', 'to': 'Lods'}, {'from': 'Lods', 'to': 'Auschwitz'}, {'from': 'Auschwitz', 'to': 'Berlin - Nou - Kölln'}, {'from': 'Berlin - Nou - Kölln', 'to': 'Ravensbrück'}, {'from': 'Ravensbrück', 'to': 'Schweden'}, {'from': 'Schweden', 'to': 'Israel'}]
[{'from': 'Sulejow Polen', 'to': 'La Cre'}, {'from': 'La Cre', 'to': 'Suterene'}]