In [405]:
import pandas as pd
import numpy as np

In [406]:
df = pd.read_csv('data/Data4Good_Arolsen_Archives_50k.csv')

In [407]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN

In [408]:
# Convert to string to avoid errors
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].astype(str)

# Function to split birthdate into components
def split_birthdate(date):
    if date.startswith('//'):  # Case: Birthdate starts with "//"
        return date[2:], '0', '0'  # Extract year, set Month and Day to 0
    
    parts = date.split('/')
    
    if len(parts) == 3:  # Full date case (DD/MM/YYYY)
        return parts[2], parts[1], parts[0]  # Year, Month, Day
    elif len(parts) == 1 and date.isdigit() and len(date) == 4:  # Year only (YYYY)
        return date, '0', '0'  # Set Month and Day to 0
    else:
        return None, None, None  # Handle missing or invalid values

# Apply function to create new columns
df[['Birth_Year', 'Birth_Month', 'Birth_Day']] = df['Birthdate (Geb)'].apply(lambda x: pd.Series(split_birthdate(x)))

# Convert numeric columns to integers where possible
df['Birth_Year'] = pd.to_numeric(df['Birth_Year'], errors='coerce')
df['Birth_Month'] = pd.to_numeric(df['Birth_Month'], errors='coerce')
df['Birth_Day'] = pd.to_numeric(df['Birth_Day'], errors='coerce')

In [409]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [410]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

In [411]:
#df_zero_day_month = df[(df['Birth_Day'] == 0.0) & (df['Birth_Month'] == 0.0)]
#print(df_zero_day_month)

In [412]:
missing_percent = df.isnull().sum() / len(df) * 100
print(missing_percent)

Unnamed: 0                    0.000
Last_Name                     1.238
First Name                    1.626
Alternative Name             43.454
Father (Vater - Eltern)      53.538
Mother (Mutter - Eltern)     55.366
Spouse (Ehem/Ehefr)          95.154
Birthdate (Geb)               0.000
Alternative_Birthdate         1.068
Birth Place                   9.744
TD                            1.722
Nationality                  43.406
Alternative Nationality 1    89.350
Alternative Nationality 2    89.704
Religion                     75.018
Upper                         1.068
Middle                        4.804
Geo Location                  1.068
Inferred Nationality         97.732
Overall Confidence OCR        1.076
Automatic Validation          1.074
Volunteers' Comment          99.954
Birth_Year                    5.564
Birth_Month                   1.072
Birth_Day                     1.078
dtype: float64

In [413]:
df['Birthdate (Geb)'].nunique()

17218

In [414]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [415]:
df['Birthdate (Geb)'].value_counts()

Birthdate (Geb)
//            2244
nan            534
//1900         142
//1924         131
//1925         127
              ...
19/11/1906       1
28/3/1898        1
14/11/191        1
22/2/1869        1
23/5/1897        1
Name: count, Length: 17218, dtype: int64

In [416]:
# Replace '//' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('//', np.nan)

# Replace 'nan' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('nan', np.nan)

# Verify the changes
print(df['Birthdate (Geb)'].value_counts())

Birthdate (Geb)
//1900        142
//1924        131
//1925        127
//1923        121
//1922        119
             ...
19/11/1906      1
5/1/1931        1
28/1/1909       1
28/3/1898       1
14/11/191       1
Name: count, Length: 17216, dtype: int64

In [417]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [418]:
df['Birth_Year'].value_counts()

Birth_Year
1924.0    2198
1923.0    2175
1922.0    2139
1925.0    2119
1920.0    1792
          ...
4060.0       1
2079.0       1
1994.0       1
185.0        1
11.0         1
Name: count, Length: 293, dtype: int64

In [419]:
df['Birth_Year'] = np.where(df['Birth_Year'] < 1800, 0, df['Birth_Year'])
df['Birth_Year'] = np.where(df['Birth_Year'] > 1945, 0, df['Birth_Year'])

In [420]:
df['Birth_Year'].isna().sum()

np.int64(2782)

In [421]:
df_sorted = df.sort_values(by='Birth_Year')
print(df_sorted[['Birth_Year']])

       Birth_Year
44591         0.0
10878         0.0
15262         0.0
40129         0.0
22192         0.0
...           ...
49948         NaN
49951         NaN
49987         NaN
49991         NaN
49993         NaN

[50000 rows x 1 columns]

In [422]:
df['Birth_Year'].value_counts()

Birth_Year
1924.0    2198
1923.0    2175
1922.0    2139
1925.0    2119
1920.0    1792
          ...
1839.0       1
1804.0       1
1815.0       1
1844.0       1
1803.0       1
Name: count, Length: 109, dtype: int64

In [423]:
df['Birth_Month'] = np.where(df['Birth_Month'] > 12, 0, df['Birth_Month'])
df['Birth_Day'] = np.where(df['Birth_Day'] > 31, 0, df['Birth_Day'])

In [424]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

RELIGION

In [425]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Orthodox Christian          73
Evangelical Christian       24
Other                        4
                         ...
Boo                          1
Auss                         1
Jewishürdisc                 1
MGB                          1
Nagy                         1
Name: count, Length: 166, dtype: int64

In [427]:
# Group rare religions
min_count = 5  # Threshold for rare categories
religion_counts = df['Religion'].value_counts()
rare_religions = religion_counts[religion_counts < min_count].index
df['Religion'] = df['Religion'].replace(rare_religions, 'Other')

In [428]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Other                      168
Orthodox Christian          73
Evangelical Christian       24
Name: count, dtype: int64

OneHotEncoding for Religion

In [429]:
df = pd.get_dummies(df, columns=['Religion'], prefix='Religion')

In [430]:
# Convert boolean columns to integers
religion_columns = ['Religion_Evangelical Christian', 'Religion_Jewish', 'Religion_Orthodox Christian', 'Religion_Other', 'Religion_Roman Catholic']
df[religion_columns] = df[religion_columns].astype(int)