In [182]:
import pandas as pd
import numpy as np

In [183]:
df = pd.read_csv('data/Data4Good_Arolsen_Archives_50k.csv')

In [184]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Alternative Nationality 1,Alternative Nationality 2,Religion,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,NaN,NaN,Roman Catholic,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,NaN,NaN,NaN,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,NaN,NaN,NaN,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,NaN,NaN,NaN,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,NaN,NaN,Jewish,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,NaN,NaN,NaN,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,NaN,NaN,NaN,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,NaN,NaN,Jewish,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,Hungarian,NaN,Jewish,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,NaN,Polish,NaN,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN

In [185]:
# Convert to string to avoid errors
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].astype(str)

# Function to split birthdate into components
def split_birthdate(date):
    if date.startswith('//'):  # Case: Birthdate starts with "//"
        return date[2:], '0', '0'  # Extract year, set Month and Day to 0
    
    parts = date.split('/')
    
    if len(parts) == 3:  # Full date case (DD/MM/YYYY)
        return parts[2], parts[1], parts[0]  # Year, Month, Day
    elif len(parts) == 1 and date.isdigit() and len(date) == 4:  # Year only (YYYY)
        return date, '0', '0'  # Set Month and Day to 0
    else:
        return None, None, None  # Handle missing or invalid values

# Apply function to create new columns
df[['Birth_Year', 'Birth_Month', 'Birth_Day']] = df['Birthdate (Geb)'].apply(lambda x: pd.Series(split_birthdate(x)))

# Convert numeric columns to integers where possible
df['Birth_Year'] = pd.to_numeric(df['Birth_Year'], errors='coerce')
df['Birth_Month'] = pd.to_numeric(df['Birth_Month'], errors='coerce')
df['Birth_Day'] = pd.to_numeric(df['Birth_Day'], errors='coerce')

In [186]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,1926.0,7.0,29.0
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,1925.0,10.0,10.0
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,1906.0,4.0,20.0
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,1904.0,11.0,12.0
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,1896.0,2.0,22.0
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,1885.0,10.0,7.0
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,1921.0,1.0,17.0
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,1930.0,1.0,18.0
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,1906.0,9.0,22.0

In [187]:
#df_zero_day_month = df[(df['Birth_Day'] == 0.0) & (df['Birth_Month'] == 0.0)]
#print(df_zero_day_month)

In [188]:
missing_percent = df.isnull().sum() / len(df) * 100
print(missing_percent)

Unnamed: 0                    0.000
Last_Name                     1.238
First Name                    1.626
Alternative Name             43.454
Father (Vater - Eltern)      53.538
Mother (Mutter - Eltern)     55.366
Spouse (Ehem/Ehefr)          95.154
Birthdate (Geb)               0.000
Alternative_Birthdate         1.068
Birth Place                   9.744
TD                            1.722
Nationality                  43.406
Alternative Nationality 1    89.350
Alternative Nationality 2    89.704
Religion                     75.018
Upper                         1.068
Middle                        4.804
Geo Location                  1.068
Inferred Nationality         97.732
Overall Confidence OCR        1.076
Automatic Validation          1.074
Volunteers' Comment          99.954
Birth_Year                    5.564
Birth_Month                   1.072
Birth_Day                     1.078
dtype: float64

In [189]:
df['Birthdate (Geb)'].nunique()

17218

In [190]:
df['Birthdate (Geb)'].value_counts()

Birthdate (Geb)
//            2244
nan            534
//1900         142
//1924         131
//1925         127
              ...
19/11/1906       1
28/3/1898        1
14/11/191        1
22/2/1869        1
23/5/1897        1
Name: count, Length: 17218, dtype: int64

In [191]:
# Replace '//' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('//', np.nan)

# Replace 'nan' with NaN
df['Birthdate (Geb)'] = df['Birthdate (Geb)'].replace('nan', np.nan)

# Verify the changes
print(df['Birthdate (Geb)'].value_counts())

Birthdate (Geb)
//1900        142
//1924        131
//1925        127
//1923        121
//1922        119
             ...
19/11/1906      1
5/1/1931        1
28/1/1909       1
28/3/1898       1
14/11/191       1
Name: count, Length: 17216, dtype: int64

In [192]:
# Create three new columns
df['Birth_Year'] = np.nan
df['Birth_Month'] = np.nan
df['Birth_Day'] = np.nan

# Extract values where the format is //YEAR
df.loc[df['Birthdate (Geb)'].str.startswith('//', na=False), 'Birth_Year'] = df['Birthdate (Geb)'].str[2:]  # Extract year
df.loc[df['Birthdate (Geb)'].str.startswith('//', na=False), 'Birth_Month'] = 0  # Set month to 0
df.loc[df['Birthdate (Geb)'].str.startswith('//', na=False), 'Birth_Day'] = 0  # Set day to 0

# Extract normal dates where format is DD/MM/YYYY
df.loc[~df['Birthdate (Geb)'].str.startswith('//', na=False), ['Birth_Day', 'Birth_Month', 'Birth_Year']] = \
    df.loc[~df['Birthdate (Geb)'].str.startswith('//', na=False), 'Birthdate (Geb)'].str.split('/', expand=True)

# Convert to numeric format
df[['Birth_Day', 'Birth_Month', 'Birth_Year']] = df[['Birth_Day', 'Birth_Month', 'Birth_Year']].apply(pd.to_numeric, errors='coerce')

# Verify the results
print(df[['Birth_Day', 'Birth_Month', 'Birth_Year']])

       Birth_Day  Birth_Month  Birth_Year
0            NaN          NaN         NaN
1            NaN          NaN         NaN
2            NaN          NaN         NaN
3            NaN          NaN         NaN
4            0.0          0.0      1913.0
...          ...          ...         ...
49995        NaN          NaN         NaN
49996        NaN          NaN         NaN
49997        NaN          NaN         NaN
49998        NaN          NaN         NaN
49999        NaN          NaN         NaN

[50000 rows x 3 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_14624\3685291695.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['1913' '1905' '1891' ... '1939' '1931' '1919']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['Birthdate (Geb)'].str.startswith('//', na=False), 'Birth_Year'] = df['Birthdate (Geb)'].str[2:]  # Extract year

In [193]:
df['Birth_Year'].value_counts()

Birth_Year
1900.0    142
1924.0    131
1925.0    127
1923.0    121
1922.0    119
         ...
2846.0      1
4060.0      1
1850.0      1
2079.0      1
1864.0      1
Name: count, Length: 170, dtype: int64

In [194]:
df['Birth_Year'] = np.where(df['Birth_Year'] < 1800, 0, df['Birth_Year'])
df['Birth_Year'] = np.where(df['Birth_Year'] > 1945, 0, df['Birth_Year'])

In [195]:
df_sorted = df.sort_values(by='Birth_Year')
print(df_sorted[['Birth_Year']])

       Birth_Year
35            0.0
13971         0.0
47187         0.0
8080          0.0
7987          0.0
...           ...
49995         NaN
49996         NaN
49997         NaN
49998         NaN
49999         NaN

[50000 rows x 1 columns]

In [196]:
df['Birth_Year'].value_counts()

Birth_Year
1900.0    142
1924.0    131
1925.0    127
1923.0    121
1922.0    119
         ...
1803.0      1
1853.0      1
1807.0      1
1850.0      1
1864.0      1
Name: count, Length: 98, dtype: int64

In [197]:
df['Birth_Month'] = np.where(df['Birth_Month'] > 12, 0, df['Birth_Month'])
df['Birth_Day'] = np.where(df['Birth_Day'] > 31, 0, df['Birth_Day'])

In [198]:
df

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Upper,Middle,Geo Location,Inferred Nationality,Overall Confidence OCR,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,KIERZKOWSKA Mieczyslawa Marianna Name : verh ....,11/42 b . Weser Flugzeugbau GmbH i . Berlin ge...,"""{""""paths"""":[{""""fromLabel"""":""""Wiekowo"""",""""toLa...",NaN,94.0,Above threshold for Last Name and TD,NaN,NaN,NaN,NaN
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,RO . T / D 155 125 Name : GRUER Pesia Pese ver...,1940 Ch . Laszczow 7.42 verst.gel . 7.44 b.Las...,"""{""""paths"""":[{""""fromLabel"""":""""Laszczow Polen""""...",NaN,89.0,Matched,NaN,NaN,NaN,NaN
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,T / D Name : Kurz Oskar BD : 20.4.1906 BP : Wi...,inkZ : Monowitz / Auschwitz Von 20.10.1942Bls ...,"""{""""paths"""":[{""""fromLabel"""":""""Wien"""",""""toLabel...",NaN,91.0,To be validated,NaN,NaN,NaN,NaN
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,T / D 407 595 Name : SPRITZ R Moses BD : 12.11...,10.41 v . Amsterdam nach Angouleme ( Gefängn ....,"""{""""paths"""":[{""""fromLabel"""":""""Biala Österr"""",""...",NaN,96.0,To be validated,NaN,NaN,NaN,NaN
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,T / D 615 898 Name : ROSENBERG Mosche Elt . Go...,"L.Adr . Warschau , Dzielna 17 40 verh . in War...","""{""""paths"""":[{""""fromLabel"""":""""Warschau"""",""""toL...",NaN,94.0,Matched,NaN,1913.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,455176,HACHNOCHI,Lissy,verh.BERNHEIM,NaN,NaN,NaN,22/2/1896,//,Lomza,...,T / D 335 595 Name : H ACH NOCHI Lissy verh.BE...,im Okt.1938 n.Paris emigr . 1941 dortselbst um...,"""{""""paths"""":[{""""fromLabel"""":""""Lomza"""",""""toLabe...",NaN,96.0,Matched,NaN,NaN,NaN,NaN
49996,797414,REDZEL,Ernestina,"HETZEL, geb. ROSENTAL",Naftali,Rosa Löwi,NaN,7/10/1885,//,Czarnowits,...,T / D 624 389 Name : REDZEL Ernestina od . HET...,7.10 . 85 Czarnowits 10.41 Czernowitz Ch . End...,"""{""""paths"""":[{""""fromLabel"""":""""Czarnowits"""",""""t...",NaN,84.0,To be validated,NaN,NaN,NaN,NaN
49997,579821,BOLLE,Jansje,verh.HAMBURGER,NaN,NaN,NaN,17/1/1921,//,Amsterdam,...,T D 510 873 / Name : BOLLE Jansje verh.HAMBURG...,24.10.43 KL - Westerbork 8.2.44 ueber Gr - Ros...,"""{""""paths"""":[{""""fromLabel"""":""""Amsterdam"""",""""to...",NaN,91.0,Matched,NaN,NaN,NaN,NaN
49998,756741,WOLFE,Sarah Szeren,geb. BERGER,NaN,NaN,NaN,18/1/1930,//,Mates zalka,...,T / D 534 582 Name : WOLFE Sarah - Szeren geb....,Rel . jud . 4.44 Gh . Mateszalka 5.44 Auschwit...,"""{""""paths"""":[{""""fromLabel"""":""""Mates zalka"""",""""...",NaN,93.0,To be validated,NaN,NaN,NaN,NaN
49999,536391,WEGNER,Anton Anthony,NaN,NaN,NaN,NaN,22/9/1906,//,Koslinka Tuchel PoNut,...,T / D 408 873 Name : WEGNER Anton Anthony BD :...,23.9.1941 in Polen verhaft . + 20.4.1941 SS - ...,"""{""""paths"""":[{""""fromLabel"""":""""Koslinka Tuchel ...",NaN,93.0,Matched,NaN,NaN,NaN,NaN

In [199]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Orthodox Christian          73
Evangelical Christian       24
Other                        4
                         ...
Boo                          1
Auss                         1
Jewishürdisc                 1
MGB                          1
Nagy                         1
Name: count, Length: 166, dtype: int64

In [200]:
# Count the occurrences of each religion
religion_counts = df['Religion'].value_counts()

# Filter the DataFrame to include only religions with more than 1 occurrence
df_filtered = df[df['Religion'].isin(religion_counts[religion_counts > 1].index)]
df_filtered['Religion'].value_counts()

Religion
Jewish                                              10886
Roman Catholic                                       1340
Orthodox Christian                                     73
Evangelical Christian                                  24
Other                                                   4
Orthodox Christian Christian Christian Christian        3
Muslim                                                  2
Name: count, dtype: int64

In [201]:
df['Religion'] = df['Religion'].replace({
    'Orthodox Christian Christian Christian Christian Christian': 'Orthodox Christian'
})

# Group rare religions
min_count = 5  # Threshold for rare categories
religion_counts = df['Religion'].value_counts()
rare_religions = religion_counts[religion_counts < min_count].index
df['Religion'] = df['Religion'].replace(rare_religions, 'Other')

In [202]:
df['Religion'].value_counts()

Religion
Jewish                   10886
Roman Catholic            1340
Other                      168
Orthodox Christian          73
Evangelical Christian       24
Name: count, dtype: int64

In [207]:
df = pd.get_dummies(df, columns=['Religion'], prefix='Religion')
df['Religion'] = df['Religion'].astype(int)

KeyError: "None of [Index(['Religion'], dtype='object')] are in the [columns]"

In [204]:
df.head(50)

,Unnamed: 0,Last_Name,First Name,Alternative Name,Father (Vater - Eltern),Mother (Mutter - Eltern),Spouse (Ehem/Ehefr),Birthdate (Geb),Alternative_Birthdate,Birth Place,...,Automatic Validation,Volunteers' Comment,Birth_Year,Birth_Month,Birth_Day,Religion_Evangelical Christian,Religion_Jewish,Religion_Orthodox Christian,Religion_Other,Religion_Roman Catholic
0,59165,KIERZKOWSKA,Mieczyslawa Marianna,verh. KUROSZCZYK,Wladyslaw,Pelagie Wozniak,NaN,29/7/1926,//,Wiekowo,...,Above threshold for Last Name and TD,NaN,NaN,NaN,NaN,False,False,False,False,True
1,180295,GRUER,Pesia Pese,verh. PINCZANSKI,Ben Zion,Chaja geb Zwiller,NaN,10/10/1925,//,Laszczow Polen,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
2,559846,Kurz,Oskar,NaN,NaN,NaN,NaN,20/4/1906,//,Wien,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
3,446131,SPRITZR,Moses,NaN,NaN,NaN,NaN,12/11/1904,//,Biala Österr,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
4,782946,ROSENBERG,Mosche,NaN,Godel,Golda,NaN,//1913,//,Warschau,...,Matched,NaN,1913.0,0.0,0.0,False,True,False,False,False
5,457849,HOERNITZVON,LANKISCH Arthur,NaN,Ernst,Therese Richard,NaN,27/5/1894,//,Einsiedl Böhmen,...,Above threshold for Last Name and TD,NaN,NaN,NaN,NaN,False,False,False,False,False
6,214293,CHETROLA,Francesco,"CETROLA,",Giuseppe,Maria,NaN,22/4/1924,//,Rofrano Salerno,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
7,268649,RAIMOND,Giuseppe,NaN,NaN,NaN,NaN,5/2/1908,//,S Cataldo,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
8,570538,ELKAN,Mirjan,"verh. vorh.GRYNBAU,LAZICSAK.LASICA",Jankel David,Estor geb FINKELSTEIN,NaN,2/12/1912,//,Pabianice,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
9,784441,ROZENAY,Laja,BERGIER,Szymeio,Hondla,NaN,20/7/1899,//,Sulejow Polen,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
10,455366,SCHR,Bronja,geb. KAUFMAN,Joeö,Chane geb Schulman,NaN,3/4/1929,//,Lodz Pol,...,To be validated,NaN,NaN,NaN,NaN,False,True,False,False,False
11,491709,NIKOLAENKO,Vornameunbek,"KRASNITZKI, Familie,",NaN,NaN,NaN,NaN,//,unbek,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
12,544682,KORNEwa,Chava,"verh. WURM, REICHMANN, KAISER, JANICKA, Irene",Mendel,Hana Grünstein,NaN,0/1/1909,//,Rzeszon Polen,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
13,84712,POTAS,Joanna Jamina,verh. MIGULSKA,NaN,NaN,Jawortsche,4/2/1925,//,Jaworze Gorne,...,Above threshold for Last Name and TD,NaN,NaN,NaN,NaN,False,False,False,False,False
14,496775,DISIPL,Ryve,"verh. vorh.NUISER, PARIATOW, SORMISOM",NaN,NaN,NaN,6/4/1912,//,Wilna,...,To be validated,NaN,NaN,NaN,NaN,False,True,False,False,False
15,47600,WITKOWSKA,Zofia,KUCMIN.,NaN,NaN,NaN,15/4/1923,//,Zalesie,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
16,631083,BACK,Rezso,NaN,NaN,NaN,Magda geb. Klein,//1905,//,Budapest,...,Matched,NaN,1905.0,0.0,0.0,False,True,False,False,False
17,59036,BARANSKI,Johan Jan,NaN,NaN,NaN,NaN,9/4/1903,//,Godzischewy,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
18,218147,JAKUBOVITS,Salomon,NaN,NaN,NaN,NaN,4/5/1905,//,Majdan CSR,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
19,102811,GRYCAN,Jozef,NaN,NaN,Tekla,NaN,25/5/1927,17/5/1927,Wierzbowiec,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
20,73878,LAX,Anna,gob.LATRANYI,NaN,NaN,NaN,6/3/1909,//,Majesniklovar,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
21,74060,SEIDFUDEE,Grote Margarete,"SEITFUDEM, , verh.MAJUNKE",Aron,Ema,NaN,14/7/1920,//,Briog,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
22,611310,RUBINOWITZ,Josef,SOHAM,NaN,NaN,NaN,26/3/1915,//,Lodz,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
23,227873,FRANZ,Auguste,BROSCHINSKI BROSCHINSKY,Hermann,Amalie Ida Harzberg,NaN,3/4/1901,//,Rudau Krs Ortels burg,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
24,270117,ROTHENBERG,Mozes ABRAHAM,NaN,NaN,NaN,NaN,//1891,//1919,Radom,...,Matched,NaN,1891.0,0.0,0.0,False,False,False,False,False
25,267460,ISAK,Adolf,ISZAK,NaN,NaN,NaN,7/8/1913,//,Vylok,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
26,8793,DOBRZYNSKA,Sabina,verh. BLASIAK,Jozef,Antonina,NaN,9/5/1925,//,Moczydlow,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
27,560794,BRUSIGHIN,Andrea,BUSIGHIN,NaN,NaN,NaN,30/11/1914,//,Italien,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
28,548242,GOLDSTÜCK,Judith,verh. BERKAL,NaN,NaN,NaN,22/4/1907,//,Lodz Radwiliskis,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
29,483275,SORRENTINO,Raffaele,NaN,Raffaele,Giulia NOCERA,NaN,3/5/1914,//,La Spezia,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
30,499289,GREENBAUM,Masha,geb. RALSKY,NaN,NaN,NaN,3/10/1926,//,Kowno Lit,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
31,166886,GAFIS,Holan Janin,"geb. DETOVI, verh. GAITZ",Jooof,Aranka ELDR,NaN,3/1/1913,//,NaN,...,To be validated,NaN,NaN,NaN,NaN,False,True,False,False,False
32,431324,RÖTTGEN,Günther,NaN,NaN,NaN,NaN,30/12/1920,//,Wattenscheid,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
33,570777,VSCHREIBERGER,Noma,"SCHREIBERBER, , .SCHREIBERBERG, verh.GUTLERMAN...",Mosohe,Syma geb Tennenbaum,NaN,7/7/1917,//,Sabyalowitz Polen,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
34,244744,KOLODZIEJ,Bronislaw,KOLODZIE,Jozef,Helena geb KULAGA,NaN,9/8/1903,//,Radwan Polen,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,True
35,340165,SCHALSCHA,Salo,NaN,NaN,NaN,Hulda,//1973,//1883,Beuthen,...,Matched,NaN,0.0,0.0,0.0,False,True,False,False,False
36,435710,ROSNER,Samuel,NaN,NaN,NaN,NaN,//1877,//,Czudin Österr,...,Matched,NaN,1877.0,0.0,0.0,False,False,False,False,False
37,85782,SMIECHOWSKI,Mieczyslaw,NaN,Jozef,Stanislawa,NaN,20/8/1934,//,Warszawa,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
38,731776,CUKIERNIK,Sioma,NaN,Samuel,slawa geb Pruchne,NaN,11/2/1922,//,Wilno Polen,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
39,139633,WEBER,Chana,verh.:SELMANOWICZ,NaN,NaN,NaN,11/12/1925,11/12/1925,Wilno,...,Above threshold for Last Name and TD,NaN,NaN,NaN,NaN,False,False,False,False,False
40,516733,GOLDBLATT,Minna,NaN,NaN,NaN,NaN,28/3/1932,//,Tauroggen,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
41,788911,UNGLICK,Dora,"UNGLUECK .GLICK, geb.SKORNIK",NaN,NaN,NaN,//1923,//1915,Plonsk Polen,...,To be validated,NaN,1923.0,0.0,0.0,False,False,False,False,False
42,278046,FORSCHLEI,GER Chane,b: WIERBSKA,NaN,NaN,NaN,20/12/1916,20/7/1916,Bendzin,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
43,436267,FUCHS,Elka,"geb. BERN,BLUM BEERENBLUM",NaN,NaN,NaN,25/1/1897,//,Lodz,...,To be validated,NaN,NaN,NaN,NaN,False,False,False,False,False
44,239712,SPIZZICHINO,Pacifico,NaN,Mose,Grazia DISEGNI,NaN,2/12/1910,//,Rom,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
45,472645,PERUSCO,Giusepps Josip,PERUSKO,Anton Antonio,Paolich Maria,NaN,12/7/1912,12/7/1922,Peruska Jugosl Dighano d,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False
46,74256,NaN,Joanna,geb. SOKOL,Wladyslaw,Zofia Binkowska,NaN,//1934,//,Gdynia,...,To be validated,NaN,1934.0,0.0,0.0,False,False,False,False,False
47,271956,SCHWARTZ,Isabella,"verh.FISCHLOVITS, .FRIEDMAN",Adolf,Fani Klein,NaN,23/10/1904,//,Kassa Ung,...,Matched,NaN,NaN,NaN,NaN,False,True,False,False,False
48,88223,KODRIC,Mihael,NaN,Janez,NaN,NaN,//1924,//,GorPrimosoa- Krsko,...,Matched,NaN,1924.0,0.0,0.0,False,False,False,False,False
49,130658,OSIECKA,Halina,verh. ZABLOTNA,Franciszek,Antonina,NaN,11/1/1927,//,NaN,...,Matched,NaN,NaN,NaN,NaN,False,False,False,False,False

In [205]:
#df["First Name"].fillna(df["Alternative Name"], inplace=True)
#df["Birthdate (Geb)"].fillna(df["Alternative_Birthdate"], inplace=True)

In [206]:
#df["Nationality"].fillna(df["Alternative Nationality 1"].combine_first(df["Alternative Nationality 2"]), inplace=True)